# Generado por Terraform — no editar
[k3d]
${ip} ansible_user=${ssh_user} ansible_ssh_private_key_file=${ssh_key}

[k3d:vars]
ansible_ssh_common_args='-o StrictHostKeyChecking=accept-new -o UserKnownHostsFile=/dev/null'
public_ip=${ip}
wp_domain=${wp_domain}
argocd_domain=${argocd_domain}
acme_email=${acme_email}
repo_url=${repo_url}
